{% extends 'data_generator/base.html' %}

{% block content %}
<form method="post">{% csrf_token %}

<div class="row">
    <h3 class="col-md-10">Edit Schema</h3>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" value="{{ form.name.value }}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="column_separator">Column separator</label>
        <select class="form-control" id="column_separator" name="column_separator">
            {% for opt in form.column_separator %}
                <option>{{ opt }}</option>
            {% endfor %}
        </select>
    </div>
  </div>
  <div class="form-row">
      <div class="form-group">
        <label for="string_character">String character</label>
          <select class="form-control" id="string_character" name="string_character">
            {% for opt in form.string_character %}
                <option>{{ opt }}</option>
            {% endfor %}
        </select>
      </div>
  </div>

{% if columns.count != 0 %}
<h3>Schema columns</h3>
{% for column in columns %}
<div class="form-row schema-column-inputs">
    <div class="form-group col-md-3">
        <label for="inputName">Column name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Name" value="{{ column.name }}">
    </div>
    <div class="form-group col-md-2">
        <label for="inputType">Type</label>
        <select id="inputType" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>
    <div class="form-group col-md-1">
        <label for="inputFrom">From</label>
        <input type="text" class="form-control" id="inputFrom">
    </div>
    <div class="form-group col-md-1">
        <label for="inputTo">To</label>
        <input type="text" class="form-control" id="inputTo">
    </div>
    <div class="form-group col-md-2">
        <label for="inputOrder">Order</label>
        <input type="text" class="form-control" id="inputOrder">
    </div>
    <div class="mb-2">
        <a class="btn text-danger delete-button">Delete</a>
    </div>
</div>
{% endfor %}
{% endif %}
<a class="btn btn-primary add-button">Add column</a>

</form>

{% endblock %}